<div id="formulaire_connexion">
  <div class="ui inverted vertical masthead center aligned segment teal">
    <div class="ui text container">
      <h1 class="ui header"><%= t('sessions.nouvelle.titre') %></h1>
      <h3><%= t('sessions.nouvelle.conseil') %></h3>
      <%= form_tag({controller: 'sessions', action: 'create'}, method: 'post', class:'ui form' ) do %>
      <div class="field">
        <%= label_tag :adresse_mail %>
        <%= text_field_tag :adresse_mail %>
      </div>
      <div class="field">
        <%= label_tag :prenom %>
        <%= text_field_tag :prenom %>
      </div>
      <div class="field">
        <%= label_tag :nom %>
        <%= text_field_tag :nom %>
      </div>
      <div class="field">
        <%= label_tag :adresse_postale %>
        <%= text_field_tag :adresse_postale %>
      </div>
      <%= submit_tag t('sessions.nouvelle.action'), class:'ui huge primary button' %>
      <% end %>
    </div>
  </div>
</div>

